<section id="blog-banner">
  <%=image_tag 'blog-banner.jpg' %>
  <div class="blog-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-banner-area">
            <h2><%= @course_title %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @lectures.count != 0 %>
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-area">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="blog-left blog-archive">


                <% @lectures.each do |lecture|%>
                <article class="single-from-blog">
                <figure>
                  <%= link_to(image_tag(lecture.image),{controller: 'lectures',action: 'show',:lecture_id => lecture.id}) %>
                </figure>
                <div class="blog-title">
                  <h2><%= link_to(lecture.title,{controller: 'lectures',action: 'show',:lecture_id => lecture.id})%></h2>

                </div>

                <div class="blog-footer">
               <span class="fa fa-comment"><%=lecture.comments.count %> Comments </span>
                   <span class="fa fa-thumbs-o-up"><%= lecture.get_likes.size %> Likes</span>
                </div>

                  <% if current_user %>
                      <% if lecture.User_id == current_user.id %>

                  <%=link_to "Edit Lecture",edit_lecture_path(lecture.id),class: 'btn btn-info',data: { 'no-turbolink'=>true} %>
                            <% if lecture.find_votes_for(:vote_scope => 'spam').size >= 2 %>
                              <%= link_to "Clear All Spams",{controller: 'lectures',action: 'clear_spams',:lecture_id=>lecture.id},class: 'btn btn-success' %>
                          <% end %>
                          <% end %>
                  <% end %>
                </article>

                <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




<% else %>

    <h1> No Lectures Yet For This Course Visit Us later</h1>
<% end %>
